<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="{{site.baseurl}}/assets/logo.jpg" style="border-radius: 50%; aspect-ratio: 1 / 1; width: inherit;" />
      </div>

      <div class="footer-col footer-col-2">
        {% include social-list.html page=site %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
