<a href="https://www.linkedin.com/in/{{ include.linkedin.username }}" target="_blank"><span class="icon icon-linkedin">{% include icon-linkedin.svg %}</span><span class="username">{{ include.linkedin.label }}</span></a>
