<a href="https://github.com/{{ include.github.username }}" target="_blank"><span class="icon icon-github">{% include icon-github.svg %}</span><span class="username">{{ include.github.label }}</span></a>
