<a href="https://gitlab.com/{{ include.gitlab.username }}" target="_blank"><span class="icon icon-gitlab">{% include icon-gitlab.svg %}</span><span class="username">{{ include.gitlab.label }}</span></a>
