<ul class="social-media-list">
    {% if include.page.gitlab %}
    <li>
      {% include icon-gitlab.html gitlab=include.page.gitlab %}
    </li>
    {% endif %}

    {% if include.page.github %}
    <li>
      {% include icon-github.html github=include.page.github %}
    </li>
    {% endif %}

    {% if include.page.discord %}
    <li>
      {% include icon-discord.html discord=include.page.discord %}
    </li>
    {% endif %}

    {% if include.page.linkedin %}
    <li>
      {% include icon-linkedin.html linkedin=include.page.linkedin %}
    </li>
    {% endif %}

    {% if include.page.email %}
    <li>
      {% include icon-email.html email=include.page.email %}
    </li>
    {% endif %}

    {% if include.page.lattes %}
    <li>
      {% include icon-lattes.html lattes=include.page.lattes %}
    </li>
    {% endif %}

</ul>