---
layout: default
---
<article class="post person">
    <header>
        <h1 class="post-title">{{page.name}}</h1>
        {% include social-list.html page=page %}
    </header>
    {{content}}
</article>